body {
  margin: 0;
  font-family: 'Proximanova opt', sans-serif;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  color: #4c525a;
}

h1 {
  font-family: amerigo-bt;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
  color: #4c525a;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Personalized Fonts */

@font-face {
  font-family: 'Amerigo-bt';
  src: local('amerigo-bt'), url(fonts/Amerigo/amerigo-bt.ttf) format('truetype');
}
